/* Places */
.places {
  text-align: center;
  display: flex;
}
/* Typography */
.places h1,
.places h2 {
  font-size: 30px;
}
.places h1 {
  text-align: left;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
}
.places h2 {
  font-weight: bold;
  text-align: center;
}
strong {
  font-weight: bold;
}

/* Homes */
article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

.name_price {
  display: flex;
  justify-content: space-between;
}
.price_by_night {
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  color: #ff5a5f;
  font-size: 30px;
  text-align: center;
  /* float: right;
  position: relative;
  bottom: 30px;
  margin-bottom: -20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.information {
  height: 80px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  clear: both;
}
.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  height: 80%;
  display: inline-block;
}
.max_guest {
  background: url("../images/icon_group.png") center center no-repeat;
}
.number_rooms {
  background: url("../images/icon_bed.png") center center no-repeat;
}
.number_bathrooms {
  background: url("../images/icon_bath.png") center center no-repeat;
}

.information p {
  display: inline-block;
  width: 100px;
  height: 10%;
  position: relative;
  top: -10px;
  text-align: center;
}
.user,
.description {
  text-align: left;
}
.user {
  margin-top: 20px;
}
.description {
  margin-top: 10px;
  letter-spacing: 0.5px;
}
