/* Filter elements custom styles */
.filters {
  height: 70px;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Search button */
.filters button {
  font-size: 18px;
  color: #fff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  background-color: #ff5a5f;
  margin: 12px 30px;
  float: right;
}
.filters button:hover {
  background-color: rgba(255, 90, 95, 0.9);
}
