/* Places */
.places {
  text-align: center;
}

/* Typography */
.places h1,
.places h2 {
  font-size: 30px;
}
.places h1 {
  text-align: left;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
}
.places h2 {
  font-weight: bold;
  text-align: center;
}

/* Homes */
article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
}
